@use '../abstracts' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    font-size: $font-size-base;
    line-height: 1.6;
    color: $color-text;
    background-color: $color-white;
    margin-top: 2px;
}

h1, h2, h3 {
    font-weight: 600;
}
